Repository EleutherAI/oslo, pull requests merged in 2023-03, with the labels that each got.

#143 [Add] unit test for zero optimizer
  oslo/utils/__init__.py
  oslo/utils/common.py
  oslo/utils/random.py
  tests_deprecated/torch/nn/parallel/data_parallel/__init__.py
  tests_deprecated/torch/nn/parallel/data_parallel/zero/__init__.py
  tests_deprecated/torch/nn/parallel/data_parallel/zero/test_grad_acc.py
  tests_deprecated/torch/nn/parallel/data_parallel/zero/test_hybrid.py
  tests_deprecated/torch/nn/parallel/data_parallel/zero/test_integrity.py
  tests_deprecated/torch/nn/parallel/data_parallel/zero/test_mixed_prec.py
Labels: ZeRO

#145 [Refactoring] trivial ZeRO structural changes
  oslo/torch/nn/parallel/__init__.py
  oslo/torch/nn/parallel/data_parallel/__init__.py
  oslo/torch/nn/parallel/data_parallel/zero/__init__.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/__init__.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/_base_optim.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/bookkeeping/bucket_store.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/bookkeeping/gradient_store.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/bookkeeping/parameter_store.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/sharded_optim.py
  oslo/torch/utils/__init__.py
  oslo/torch/utils/common.py
  oslo/torch/utils/random.py
  oslo/utils/__init__.py
  tests_deprecated/torch/nn/parallel/data_parallel/zero/test_grad_acc.py
  tests_deprecated/torch/nn/parallel/data_parallel/zero/test_hybrid.py
  tests_deprecated/torch/nn/parallel/data_parallel/zero/test_integrity.py
  tests_deprecated/torch/nn/parallel/data_parallel/zero/test_mixed_prec.py
Labels: ZeRO

#137 [ADD] support Distributed Data Parallel
  oslo/torch/nn/parallel/data_parallel/__init__.py
  oslo/torch/nn/parallel/data_parallel/_reducer.py
  oslo/torch/nn/parallel/data_parallel/_utils.py
  oslo/torch/nn/parallel/data_parallel/data_parallel.py
  oslo/torch/nn/parallel/data_parallel/zero/__init__.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/__init__.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/bookkeeping/__init__.py
Labels: Data Parallelism

#160 [Fix] specify import of zero optimizer
  oslo/torch/nn/parallel/data_parallel/__init__.py
Labels: ZeRO

#159 Fix Tp param
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/_utils.py
Labels: Bug, ZeRO

#162 Add Apache License 2.0 copyright notice to ZeRO
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/_base_optim.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/_utils.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/bookkeeping/_base_store.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/bookkeeping/bucket_store.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/bookkeeping/gradient_store.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/bookkeeping/parameter_store.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/bookkeeping/tensor_store.py
  oslo/torch/nn/parallel/data_parallel/zero/sharded_optim/sharded_optim.py
Labels: Documentation, ZeRO

#167 [Fix] zero optimizer w/ tensor parallel test
  tests_deprecated/torch/nn/parallel/data_parallel/zero/test_hybrid.py
Labels: ZeRO
